
         body{
            text-align: center;
            background-color:rgba(225, 123, 235, 0.288);
        }

        #greeting{
            font-family: Cooper Black;
        }

        #info{
            font-family: 'Times New Roman', Times, serif;
            font-size: medium;
            font-family: Cooper Black;
        }

        .text-primary{
            color: blue
        }

        .text-danger{
            color: red
        }
